// BRAND: Theory, Colors, Typo, Logo

// **************
// *** COLORS ***
// **************
#colors {

	section {
		
		&.colorfieldrow.primary {
			display: flex;
			justify-content: space-between;

			.colorfield {
				width: 210px;
				height: 210px;
				color: $white;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				text-align: center;

				&.pink {
					background: $pink;
					//border: 1px solid darken($pink, 5%);
				}

				&.lightblue {
					background: $lightblue;
				}

				&.darkblue {
					background: $darkblue;
				}
			}
		}

		&.colorfieldrow.secondary {
			display: flex;
			justify-content: space-between;

			.colorfield {
				width: 130px;
				height: 130px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				text-align: center;

				&.highlightgreen {
					background: $highlightgreen;
					color: $white;
				}

				&.white {
					background: $white;
				}

				&.lightgray {
					background: $lightgray;
				}

				&.darkgray {
					background: $darkgray;
					color: $white;
				}

				&.black {
					background: $black;
					color: $white;
				}
			}
		}
	}
}

#typo {
	section {
		&.typoarea {
			background: #fff;
			padding: 20px 30px;
			margin-bottom: 20px;
			font-size: 130%;

			.largerFont {
				font-size: 800%;
			}

			&.avenirlight {
				font-weight: 100;
			}

			&.avenirlightoblique {
				font-weight: 100;
				font-style: oblique;
			}

			&.avenirblack {
				font-weight: 700;
			}

			&.baskervillebold {
				font-family: $quote-font;
			}
		}
	}
}