// BRAND: Theory, Colors, Typo, Logo

// **************
// *** COLORS ***
// **************
#colors {

	section {
		
		&.colorfieldrow.primary {
			display: flex;
			justify-content: space-between;

			.colorfield {
				width: 210px;
				height: 210px;
				background: black;
			}
		}

		&.colorfieldrow.secondary {
			display: flex;
			justify-content: space-between;

			.colorfield {
				width: 130px;
				height: 130px;
				background: black;
			}
		}
	}
}