// BRAND: Theory, Colors, Typo, Logo

// **************
// *** COLORS ***
// **************
#colors {

	section {
		
		&.colorfieldrow.primary {
			display: flex;
			justify-content: space-between;

			.colorfield {
				width: 210px;
				height: 210px;

				&.pink {
					background: $pink;
				}

				&.lightblue {
					background: $lightblue;
				}

				&.darkblue {
					background: $darkblue;
				}
			}
		}

		&.colorfieldrow.secondary {
			display: flex;
			justify-content: space-between;

			.colorfield {
				width: 130px;
				height: 130px;
				background: black;
			}
		}
	}
}

#typo {
	section {
		&.typoarea {
			background: #fff;
			padding: 20px 30px;
			margin-bottom: 20px;
		}
	}
}