nav > ul {
	display: flex;
	padding: 0;
	justify-content: space-around;

	li {
		display: inline;
		text-align: center;

		a {
			text-transform: uppercase;
			color: $white;
			text-decoration: none;
			font-weight: 700;
			font-size: 110%;

			&:hover {
				color: $pink;
			}

			img {
				max-width: 250px;
			}

			p.banner {
				width: 150px;
				margin-top: -130px;
			}
		}
	}
}