p.justified-paragraph {
  background-color: $white;
  text-align: justify;
  text-justify: inter-word; // IE only
  padding: 1em;
}

p.code-snippet {
	font-family: $codefont;
	padding: 20px 15px 20px 30px;
	background-color: $lightgray;
	color: $darkgray;
}
