p.justified-paragraph {
  background-color: $white;
  text-align: justify;
  text-justify: inter-word; // IE only
  padding: 1em;
}

p.code-snippet {
	font-family: $codefont;
	padding: 10px 5px 10px 20px;
	background-color: $lightgray;
}
