p.ribbon {
	font-family: $fontstack;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 40px;
  height: 40px;
  width: 200px;
  padding: 0 10px;
  margin: auto 30px;
  position: relative;
  vertical-align: middle;
  background: $pink;
  color: $white;
  display: inline-block;
  
  &:before{
    content: '';
    border: 20px solid $pink;
    border-left-color: transparent;
    border-left-width: 30px;
    position: absolute;
    top: 0;
    left: -30px;
  }
  
  &:after {
    content: '';
    border: 20px solid $pink;
    border-right-color: transparent;
    border-right-width: 30px;
    position: absolute;
    top: 0;
    right: -30px;
  }
}