@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/AvenirLTStd-Light.otf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/AvenirLTStd-LightOblique.otf);
    font-weight: 100;
    font-style: oblique;
}

@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/AvenirLTStd-Black.otf);
    font-weight: 700;
}

@font-face {
    font-family: Baskerville;
    src: url(../assets/fonts/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}

$quote-font: Baskerville, serif;
$fontstack: Avenir, Helvetica, sans-serif;
$codefont: "Courier New", Courier, monospace;

//primary colors
$pink: #ff9189;
$darkblue: #295673;
$lightblue: #4089b2;

//secondary colors
$white: #fff;
$lightgray: #ececec;
$darkgray: #393939;
$black: #000;
$highlightgreen: #b1e6a7;

//social colors
$deviantart: #01d13c;
$googleplus: #dc4a38;
$instagram: #a7745c;
$facebook: #3765a3;
$twitter: #00aced;
$tumblr: #36465d;
