@import 'variables';
@import 'brand';
@import 'uielements';
@import 'methology';

body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: $fontstack;

  header {
    width: auto;
    height: 100vh;
    text-align: center;
    background: url(../assets/landscape.gif) $pink;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 > img {
      max-height: 200px;
    }
  }

  .container {
    max-width: 800px;
    margin: 0 auto;

    article {
      box-sizing: border-box;
      margin: 50px 0;

      .runtext {
        margin: 0 auto 1em auto;
        max-width: 70%;
        line-height: 20px;
        text-align: justify;

        span.code-snippet {
          font-family: $codefont;
          background: #7291a2;
          padding: 1px 3px;
          color: $white;
        }

        a {
          &:link, &:visited {
            color: $darkblue;
            text-decoration: none;
          }

          &:hover {
            color: $lightblue;
          }
        }
      }

      .runtext-ul {
       list-style: none;

       li {
         margin-left: 80px;
       }
     }

     section {
      &.center {
        text-align: center;
      }

      &.white-background {
        padding: 15px 30px;
        background: $white;
      }

      &.darkblue-background {
        padding: 30px;
        background: $darkblue;
      }

      &.lightgray-background {
        padding: 30px;
        background: $lightgray;
      }
    }
  }
}

footer {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  height: 64px;

  span {
    margin: 0 20px;
  }

  span:first-of-type {
    color: darken($highlightgreen, 10%);
  }

  span:nth-of-type(2) {
    color: $pink;
  }

  span:last-of-type {
    color: $lightblue;
  }
}
}
